<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="search" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
  </ion-searchbar>

  <ion-list>
    <button ion-item *ngFor="let location of locations" (click)="itemSelected(location)">
      {{ location.name }}
    </button>
  </ion-list>

  <baidu-map [options]="options" (onMapLoaded)="loadMap($event)" (onMarkerClicked)="clickMarker($event)" (clicked)="clickmap($event)">
    <marker *ngFor="let marker of markers" [point]="marker.point" [options]="marker.options" (clicked)="showWindow($event)"></marker>
    <control type="navigation" [options]="navOptions"></control>
  </baidu-map>
</ion-content>